$primaire: red;
$secondaire: blue;
$blanc: #f5f6f6;
$gris: #b1b1b1;
$noir: #000;

$padding: 40px;

$book : 100;
$thin: 200;
$light: 300;
$regular : 400;
$medium : 500;
$semibold: 600;
$bold : 700;
$extrabold: 800;
$black : 900;
