.modal{
  .button-link {
    background: $color-primary;
    text-transform: uppercase;
    padding: 12px 20px;
    font-size: 1.1rem;
    border-radius: 50px;
    font-weight: 700;
    color: $color-white;
    border: transparent 1px solid;
  }
  .modal-header{
    align-items: center;
    padding: 0;
    display: block;
    border: 0;
    h3{
      color:$color-white;
    }
    .section-title{
      min-height: 85px;
    }
    .close{
      position: absolute;
      right: 10px;
      font-size: 4rem;
      opacity: 1;
      top: 4px;
      text-shadow: none;
      span{
        color: $color-white;
      }
    }
  }
  .modal-title{
    text-align: center;
    font-weight: 600;
    width: 100%;
    font-size: 2rem;
  }
  .modal-footer{
    justify-content: center;
    text-align: center;
    padding: 20px 0 40px;
  }
  input.cg-download[type="checkbox"] ~ a{
    pointer-events: none;
    background: $color-disabled-background;
  }
  input.cg-download[type="checkbox"]:checked ~ a{
    pointer-events: initial;
    background: $color-primary;
    &:hover{
      background: transparent;
      border: $color-primary 1px solid;
      color: $color-primary;
    }
  }
  label{
    font-weight: 600;
    max-width: 400px;
    text-align: left;
    font-size: 1.2rem;
    vertical-align: middle;
  }
  .cg-download{
    vertical-align: middle;
  }
}


.modal-backdrop {
  background-color: $color-primary;

  &.show {
    opacity: .8;
  }
}
