 html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
   height: 100%;
}

// ----------
// SVG
// ----------
svg[class^="icon-"]{
  width: 100%;
  height: 100%;
}
