html {
  /* set base font-size to equiv "10px", which is adapted to rem unit */
  font-size: 62.5%;
  /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
  font-size: calc(1em * 0.625);
}

body {
  margin: 0;
  @include font-size(base);
  @include font-familly-swtich(base);
  background-color: $white;
  color: $color-content;
  font-family: $font-family-base;
  line-height: $line-height-base;
}

/* Links */
a {
  color: $link-color;
  text-decoration: $link-decoration;

  &:hover,
  &:active {
    color: $link-color-hover;
    text-decoration: $link-decoration-hover;
  }
  &:focus{
    outline-color: $color-primary;
    outline-style: auto;
    outline-width: 4px;
  }
}

p{
  color: $color-black;
  font-weight: 400;
}



/* Headings */
h1, .h1-like {
  @include font-size(h1);
  @if variable_exists(font-family-headings) and $font-family-headings != $font-family-base{
    font-family: $font-family-headings;
  }
  font-weight: $weight-bold;


}

h2, .h2-like {
  @include font-size(h2);
  @if variable_exists(font-family-headings) and $font-family-headings != $font-family-base{
    font-family: $font-family-headings;
  }
  font-weight: 500;
  @include font-familly-swtich(base);
  color: $color-primary;
}

h3, .h3-like {
  @include font-size(h3);
  font-weight: 500;
}

h4, .h4-like {
  @include font-size(h4);
  font-weight: 500;
}

h5, .h5-like {
  @include font-size(h5);
  font-weight: 500;
}

h6, .h6-like {
  @include font-size(h6);
  font-weight: 500;
}

/* Vertical rythm */
h1,
h2,
h3,
h4,
h5,
h6,
dd {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  color:$color-content;
 /* margin-bottom: $headings-margin-bottom; */
}

p,
address,
ol,
ul,
dl,
blockquote,
pre {
  margin-top: 0;
  margin-bottom: $paragraph-margin-bottom;
}

/* Avoid margins on nested elements */
li p,
li .p-like,
li ul,
li ol,
ol ol,
ul ul {
  margin-top: 0;
  margin-bottom: 0;
}
