<form method="get" action="{{ site.url }}" role="search">
    <label for="search">{{ __('Search','idx') }}</label>
    <input id="search" type="search" name="s">
    <button type="submit" role="button">{{ __('Search','idx') }}</button>
</form>